# ===============================
# Java
# ===============================

# Compilados
*.class

# Builds
target/
build/
out/

# Pacotes
*.jar
*.war
*.ear

# Logs
*.log

# ===============================
# IntelliJ IDEA
# ===============================

.idea/
*.iml
*.ipr
*.iws

# SmartTomcat
.smarttomcat/

# ===============================
# Sistema operacional
# ===============================

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# ===============================
# Arquivos temporários
# ===============================

*.tmp
*.temp
*.swp

# ===============================
# Banco de dados local
# ===============================

*.db
*.sqlite

# ===============================
# Node (caso tenha JS no front)
# ===============================

node_modules/

# ===============================
# Arquivos compactados
# ===============================

*.zip
*.rar
*.tar
*.gz